/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$fonts: 'Open Sans', sans-serif;

//Placeholder things
%title {
    font-family: $fonts;
    font-weight: 700;
    font-size: 2.3em;
}

//Entire Site Stuff

html {
    font-size: 16px;
}

body {
    font-family: $fonts;
    font-weight: 300;
    margin: 0;
    font-size: 62.5%; /* 1em = 10px */
    background-color: #e6e6e6;
}

//Header stuff

header {
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.70);
    height: 40px;
    padding: 0;
    margin: 0;
}

nav {
    padding-right: 10%;
    height: 100%;
}

nav a {
    height: 65%;
    text-decoration: none;
    float: right;
    padding: 10px 3% 5px 3%;
    font-size: 2em;
    &:hover {
        background-color: #d8d8d8;
   }
}

header h2 {
    @extend %title;
    float:left;
    padding-left: 10%;
    padding-top: 9px;
}

//Cards Stuff

.card {
    height: 800px;
    width: 100%;
}

.card:nth-child(odd) {
    background-color: #18ccb7;
}

.container {
    width: 80%;
    margin: auto;
    height: 100%;
}
    